<template>
	 <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">En que estas pensando ahora?</div>
                <div class="card-body">
                    <form action="" v-on:submit.prevent="newPensamiento()">
                    	<!-- v-on:submit.prevent sirve para que la pagina no se vuelva a recargar al momento de mandar la info del formulario y ademas de eso ejecuta una funcion donde se envia los datos -->
                        <div class="form-group">
                            <label for="pensamiento">Ahora estoy pensando en :</label>
                            <input type="text" class="form-control" name="pensamiento" v-model="descripcion">
                            <!-- v-model es para nombrar y enlazar la etiqueta html con vue -->
                            <br>
                            <button type="submit" class="btn btn-primary">Enviar pensamiento</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
</template>

<script>
    export default {
    	data(){
    		return{
    			descripcion:''
    		}

    	},
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
        	newPensamiento(){
        		const params = {
        			descripcion: this.descripcion
        		};
        		this.descripcion = '';
        		axios.post('pensamientos',params).then((response) => {
        			const pensamiento = response.data;
        			this.$emit('new',pensamiento);//este codigo es para generar un evento necesita de dos cosas que son el evento(new) y los parametros que deseamos enviar(pensamiento).
        		}); 
        	}
        }
    }
</script>
