<template>
<div class="container">

    <form-component @new="addPensamiento"></form-component>
   <!--@new: es un evento general(adentro ejecuta una funcion) y sirve para pasar datos entre componentes -->
    <br>
    
    <pensamiento-component v-for="(pensamiento, index) in pensamientos" :key="pensamiento.id" :pensamiento="pensamiento" @delete="deletePensamiento(index)" @update="updatePensamiento(index, ...arguments)"></pensamiento-component> 
        <!--v-form: es como se hace en vue para un array de datos(algo parecido a lo que hago en angular con ionic 4) -->

        <!-- key: es para consultar datos que me tare el arregle anterior en este caso consulto el id (asi se hace en angular mas o menos) -->

        <!-- pensamiento: es un objeto que lo igualo a la data de la varibale pensamientos en el script-->
        
        
</div>
</template>


<script>
    export default {
        //esta es una funcion
        data(){
            return {
                pensamientos: []
            };
        },
        //esta es una funcion
        mounted() {
            axios.get('pensamientos').then((response) =>{
                this.pensamientos = response.data;
            })
            console.log('Component mounted.')
        },
        //esto es un metodo ysirve para crear muchas funciones que se usaran en el componente
        methods:{
            addPensamiento(pensamiento){//aqui declaro la funcion y le paso el arreglo for(array) que cree en la etiqueta del componente.
                this.pensamientos.push(pensamiento);//adentro de la funcion puedo utilizar el arreglo de datos y mandar los datos que necesite o todos los datos.
            },
            updatePensamiento(index,pensamiento){
                this.pensamientos[index] = pensamiento;

            },
            deletePensamiento(index){
                this.pensamientos.splice(index,1);

            }
        }
    }
</script>
