<template>
     <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Publicado en {{pensamiento.created_at}} - ultima actualizacion {{pensamiento.updated_at}}</div>

                <div class="card-body">
                    <input v-if="editMode" type="text" class="form-control" v-model="pensamiento.descripcion">
                    <p v-else>{{pensamiento.descripcion}}</p>
                    
                </div>
                <div class="card-footer">
                     <button v-if="editMode" type="submit" class="btn btn-success"  v-on:click="onClickUpdate()">Guardar Cambios</button>
                     <button v-else type="submit" class="btn btn-warning" v-on:click="onClickEdit()">Editar</button>
                    <button type="submit" class="btn btn-danger" v-on:click="onClickDelete()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['pensamiento'],
        data() {
            return {
                editMode: false
                
            };
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            onClickDelete(){
                axios.delete(`pensamientos/${this.pensamiento.id}`).then(() => {
                this.$emit('delete');//emite el evento delete
                });
                
            },
            onClickEdit(){
                this.editMode = true;
            },
            onClickUpdate(){
                const params = {
                    descripcion: this.pensamiento.descripcion
                };
                axios.put(`pensamientos/${this.pensamiento.id}`,params).then((response) => {
                    this.editMode = false;
                    const pensamiento = response.data;
                this.$emit('update',pensamiento);
            });
                
            }
        }
    }
</script>
